header {
  text-align: center;
  margin: 0;
  display: block;
  background-color: #d05c2e;
}

h1, h2 {
  font-family: 'Sigmar One', cursive;
}

p, .info, .info2 {
  font-family: 'Georgia', serif;
  font-size: 1.0rem;
}

.dragon-symbol{
  clear:;
  float:;
  width:50%;
  margin:5px;
  border:0;
}

.icon{
  width:10%;
  position:absolute;
  left:335px;
  top:5px;
  border:5;
}

nav{
overflow:hidden;
clear:left;
margin:0;

}



nav li{
  text-align:center;
  padding: 1em;
  float:left;
  width:28%;
  border:1px solid #000;
  background-color:#222222;
}


nav li:hover {
  background-color:#929292;
}
nav a{
  padding:0.5em;
  color:#fff;
  text-decoration:none;
  font-size:1.15 rem;
}

nav ul{

  list-style-type: none;
  padding:0;
  margin:0;


}

nav {
  padding: .5em;
}

header h1 {
  margin: 0;
}



body {
  margin: 0;
}

main {
  margin: .5em;
}

h1 {
  color: #b32f52;
  text-align: center;
}



h2 {
  color: #b32f52;
  border-top: 2px solid black;
  padding: 1em;
}




footer {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5em;
  margin: 0;
  display: block;
  background-color: #ffffff;
}

.Incandescent{
  background-color:#e4c22a;
  overflow: hidden;
}

.standard{
  background-color:#e4c22a;
  overflow: hidden;
}
